<form [formGroup]="formGroup" (ngSubmit)="logForm()">
    <mat-card>
      <mat-card-header>
        Login
      </mat-card-header>
      <mat-card-content>
        <div class="login-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
        </div>

      </mat-card-content>
      <mat-card-actions class="flex flex-row just-center gap-1">
        <button mat-button mat-raised-button color="primary" type="submit" class="login-buttons">Anmelden</button>
        <button mat-button mat-raised-button color="accent" type="button" class="login-buttons" routerLink="/auth/register">Registrieren</button>
      </mat-card-actions>
    </mat-card>
  </form>
